<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start text-bg-dark p-3">
    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
    </a>

    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
      <li><a href="/" class="nav-link px-2 text-secondary">Ana Sayfa</a></li>
      <li><a href="/countries" class="nav-link px-2 text-white">Countries</a></li>
      <li><a href="/about" class="nav-link px-2 text-white">Hakkımızda</a></li>

    </ul>

    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
    </form>

    <div class="text-start">
      <form class="d-flex" action="{% url 'search' %}" method="GET" >
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
        <button class="btn btn-outline-success" style="margin: 0px 10px" type="submit">Search</button>
      </form>
    </div>
    
    <div class="text-end">
      {% if not user.is_authenticated %}
      <a href="/user/login"><button type="button"  class="btn btn-outline-light me-2">Login</button></a>
      <a href="/user/register/"><button type="button" class="btn btn-warning">Sign-up</button></a>
      {% else %}
      <a href="/dashboard"><button class="btn btn-secondary my-2 my-sm-0" type="button">Dashboard</button></a>
      <label style="margin: 0px 10px;">{{user.username}}</label>
      <a href="/user/logout"><button type="button"  class="btn btn-warning me-2">Logout</button></a>
      {% endif %}
    </div>
    
  </div>