{% extends 'layout.html' %}
{% load static %}
{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h1 class="text-center mb-5">Hakkımızda</h1>
        <img src="https://static.djangoproject.com/img/logos/django-logo-negative.1d528e2cb5fb.png" alt="Hakkımızda Resmi" class="img-fluid mb-4">
        <p>Django Blog olarak, blog dünyasına en iyi içerikleri sunmayı hedefliyoruz. Okuyucularımıza değerli bilgiler, ilham verici hikayeler ve eğlenceli deneyimler sunmak için buradayız.</p>
        <p>Amacımız, okuyucularımızın ilgi alanlarına hitap eden zengin ve çeşitli bir içerik yelpazesi sunmaktır. Makalelerimizde güncel haberlerden, ipuçlarına, rehberlere ve derinlemesine analizlere kadar geniş bir konu yelpazesini kapsıyoruz.</p>
        <p>Biz, tutkulu yazarlar ve içerik üreticileri ekibimizle birlikte, bilgimizi, deneyimimizi ve yaratıcılığımızı kullanarak sizi bilgilendirmek, eğlendirmek ve ilham vermek için elimizden gelenin en iyisini yapmaktayız. Blogumuzda kaliteli içeriklerin yanı sıra, kullanıcı dostu bir deneyim sunmaya da özen gösteriyoruz.</p>
        <p>Sizin için değerli olan her konuda size rehberlik etmek ve sizi bilgilendirmek için buradayız. Sorularınızı yanıtlamak, geri bildirimlerinizi dinlemek ve blog deneyiminizi geliştirmek için her zaman açığız.</p>
        <p>Blogumuzu ziyaret ettiğiniz için teşekkür ederiz. Sizinle birlikte büyümek ve size değer katmak için sabırsızlanıyoruz.</p>
      </div>
    </div>
  </div>
{% endblock %}
